:root {
    --color-darkblue: #16425B;
    --color-platinum: #D9DCD6;
    --color-skyblue: #81C3D7;
    --color-mediumBlue: #2F6690;
}

body {
    background-color: var(--color-platinum);
    
}

h1{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--color-platinum);
    font-size: 250px;
}

h2 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: var(--color-platinum);
    font-size: 35px;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    padding-left: 40px;
    padding-block: 6px;
    color: var(--color-platinum);
}

#title {
    position: absolute;
    top: 400px;
    left: 40px;
}

.video-container {
    width: 100vw;
    height: 840px;
    overflow: hidden;
    background-color: var(--color-darkblue);
}

.video-container video {
    position: relative;
    top: -50vw;
    width: 100%;
}

#video-overlay {
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;

    background-color: var(--color-darkblue);
    opacity: 40%;
}

/* Posts Styles */

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 80%;
    min-height: 400px;
    gap: 40px;

    h2 {
        color: var(--color-darkblue);
        margin-bottom: 5px;
    }

    .info {

    }

    .image-container {

        img {
            width: 100%;
        }
    }
}

.separator {
    height: 2px;
    width: 50px;
    background-color: var(--color-darkblue);
}